/* Color Palette */
/* PINK: #f5abb9; */
/* BLUE: #5bcffb; */

/* Global Styles */

body {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    background-color: #5bcffb;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

#root {
    height: 100vh;
}

:root {
    --animate-duration: 300ms;
}


/* Nav Bar Styling */
.navbar {
    background: #5bcffb;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.navbar-logo {
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: white
}

.navbar-icon {
    margin-right: 0.5rem;
}

.navbar-logo:hover {
    color: #f5abb9
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;

}

.nav-item {
    height: 80px;
}

.nav-item:hover {
    border-bottom: 14px solid #f5abb9;
}

.nav-links {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.fa-bars {
    color: #fff;
}

.menu-icon {
    color: #fff;
    display: none;
}

@media screen and (max-width: 960px) {

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #5bcffb;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: #f5abb9;
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item:hover {
        border: transparent;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
}